body {
    margin: 0;
    background: #000;
}

.swiper-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    margin: auto;
    display: block;
}
