body {
    margin: 0;
    padding: 0;
    background: #000;
}

.gallery {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery img {
    width: auto;
    height: 90%;
    object-fit: contain;
}
