body {
    margin: 0;
    padding: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 400px;
}

#mainImage {
    width: 100%;
    display: block;
    border-radius: 10px;
}
