body {
    margin: 0;
    padding: 0;
    background: #000;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#mainImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
