body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
}

.gallery img {
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
}
